.chat-app {
  display: flex;
  flex: 1;
  background: #b3c0c58c;

  .chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: calc(100vh - 56px);
    width: 100%;
    background-image: url('/img/sun.png');
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    margin: 3px;
    position: relative;

    @media (max-width: $medium) {
      width: 100%;
    }

    .topbar {
      display: flex;
      height: 55px;
      text-align: center;

      .more {
        display: none;

        @media (max-width: $medium) {
          display: inline;
        }

        button {
          margin: 14px 0 0 10px;
        }
      }
      
      .room-info {
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: row;
        // align-items: center;
        // flex-flow: row;
        // flex: 1;
        // width: 359px;
        // white-space: nowrap;
        // display: flex;
        // overflow-x: auto;

        .user-room{
          // float: left;
          display: flex;
          align-items: center;
          margin-left: 10px;
          border: 1px solid #746db4;
          padding: 2px;
          position: relative;

          p{
            line-height: 100%;
            flex: 1;
            font: normal 14px "Muli", sans-serif;
            margin: 0px 4px;
          }
          .missing-badge-ct{
            position: absolute;
            top: -10px;
            right: 20px;
            background-color: red;
            padding: 0 2px;
            width: 12px;
            height: 15px;
            line-height: 17px;
            font-size: 12px;
            border-radius: 50%;
            display: none;
          }
          .missing-badge-ct.active{
            display: block !important;
          }
        }
      }

      .themes {

        button {
          margin: 13px 8px 0 0;
        }
      }
    }

    .youtube-content{
      position: absolute;
      left: 20px;
      top: 65px;
      width: 256px;
      height: 182px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      #yt_player {
        flex: 1;
      }
      #icon_area{
        flex: 1;
        text-align: right;
        .icon {
          background-color:white;
          border-radius: 50%;
          cursor: pointer;
          margin: 0 3px;
        }
      }
    }
    .youtube-content.hide-youtube{
      height: 30px;
      #yt_player {
        display: none;
      }
    }

    .messages {
      // height: calc(100vh - 206px);
      flex: 1;
      padding: 20px;
      overflow: auto;
      text-align: right;
      word-break: break-all;
      
      @media (max-width: $medium) {
        padding: 5px;
      }
    }

    .chat-input {
      display: flex;
      height: 55px;
      padding: 0 2px;
      background: #fff;
      box-shadow: 0 -1px 10px $shadow-light;
      
      .emoji-mart-bar{
        display: none;
      }
      .emoji-btn {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }

      .emoji-area{
        position: absolute;
        width: 300px;
        height: 382px;
        right: -40px;
        bottom: 0px;
      }
      .color-area{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;

        .user-color{
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

        .color-panel{
          position: absolute;
          width: 205px;
          height: 118px;
          bottom: 70px;
          padding: 5px 10px;
          left: 0px;
          background-color: white;
          box-shadow: 0 2px 10px -2px grey;

          .color-snap{
            width: 20px;
            height: 20px;
            margin: 4px 3px;
            border-radius: 50%;
            float: left;
          }
          .color-snap.active::after{
            top: -3px;
            content: "\2713";
            left: 4px;
            position: relative;
            color: #fff;
          }
        }
        .color-panel::before{
          content: " ";
          position: absolute;
          display: block;
          bottom: -7px;
          border: 8px solid #fff;
          border-color: transparent transparent #fff #fff;
          -webkit-transform: translateX(-50%) rotate(315deg);
          transform: translateX(-50%) rotate(315deg);
          box-shadow: -2px 2px 3px rgba(57, 73, 76, 0.1);
          left: 25px;
        }
      }

      form {
        display: flex;
        flex: auto;
        justify-content: space-between;
        margin: 5px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid transparent;

        input {
          width: 90%;
          padding: 7px 15px;
          font-size: 16px;
          font-family: 'Muli', sans-serif;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }
}
.reconnect-modal {
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  outline: none;
  max-height: 200px;

  @media (max-width: 500px) {
    width: 300px;
  }

  .reconnect-area{
    display: flex;
    flex-direction: column;
    padding: 15px;

    .md-close{
      display: flex;
      flex-direction: column;
      align-items: last baseline;
      .close-modal {
        cursor: pointer;
      }
    }
    .md-header{
      display: flex;
      align-items: center;
    }
    .md-content{
      border-top: 1px solid #fffdfd80;
      p {
        margin: 15px auto;
        font: $font-m;
        text-align: right;
      }
    }
  }
}